

/* create navbar flex for contenting inline item  */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    background-color: rgb(188, 68, 68);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* set the logo height */
#logo {
    height: 23px;

}
#logo:hover{
    transition: 0.5s ease;
    rotate:360deg;
}


#search_btn {
    width: 50px;
    position: absolute;
    height: 22px;

}

.btn>button {
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-start-end-radius: 5px;
    border-end-start-radius: 5px;

}

button:hover {
    margin: 0;
    padding: 0 3px 0 3px;
   
    font-size: 20px;
    background-color:  #3e8e41;
    color: #fff;
}


/* Dropdown Button */
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid black;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

/* body start form here */

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;


}

.banner {
    margin-top: 1%;
    background-image: url('https://img.freepik.com/free-psd/fast-food-restaurant-banner-template_23-2148987500.jpg?w=1800&t=st=1695566140~exp=1695566740~hmac=e40d38050c21dbaca7f0a084f6adce266d13a8395e52c5e2a84999e04adb4988');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* set the background image height and width*/

    height: 500px;
    /* set the height for banner*/
    text-align: center;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 40px;

}

.banner>span {
    margin-top: 430px;
    text-align-last: center !important;
    
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: banner 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes banner {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}



.item_body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.item_body>div {
    display: flex;
    /* flex-direction: column; */
}

.item {
    margin: 1%;
    height: 350px;
    width: 230px;
    border-end-start-radius: 5%;
    border-end-end-radius: 5%;

    border: 1px solid lightblue;
    /* background-color: rgb(138, 138, 234); */
}

.item:hover {
    height: 400px;
    width: 280px;
}

.item_image {
    height: 75%;
    /* background-color: rgb(13, 107, 189); */
}

.item_image>img {
    height: 100%;
    width: 100%;

}

.item_details {
    display: flex;
    flex-direction: row;
    background-color: rgb(138, 138, 234);
    margin-top: 10%;

}

.item_details:hover {
    background-color: green;
    border-end-start-radius: 10%;
    border-end-end-radius: 10%;
    border-left: 3px solid black;
    border-top: 3px solid black;
}

.item_details>div>span {
    font-size: 20px;
    margin-left: 10%;
    text-align: center;
    display: block;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.item_details>.offer>h1 {
    margin: 0;
   
}

.offer>span>b {
    margin: 30%;
    font-size: 30px;
}

/* footer section disign */
footer {
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgb(188, 68, 68);
    ;
}

footer>ul {
    margin: 0;
    margin-top: 3px;
    padding: 0;
}

.footer_list {
    list-style-type: none;

}

.footer_list>a {
    color: black;
    text-decoration: none;
    font-size: 20px;

}

#copywrite {
    margin-top: .5%;
}


/* here end index page css */


/* Starting to contact.html designing */
.contact {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;

    background-image: url('https://c8.alamy.com/comp/2GE2T58/cozy-evening-in-luxury-restaurant-beautiful-interior-of-restaurant-in-warm-mild-candlelight-night-cafe-urban-style-city-life-2GE2T58.jpg');
    /* background-repeat: no-repeat; */
    height: 100%;
    width: 100%;

}

.contact>form {

    margin: 3% 0 0 35%;
    height: 550px;
    width: 400px;
    border: 2px inset black;
    border-radius: 5%;
    padding: 1%;
    /* justify-content: center; */
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(150, 60, 155), rgb(107, 59, 198), rgb(168, 51, 144), rgb(210, 57, 255), rgb(201, 154, 109), rgb(10, 45, 75), rgb(150, 60, 155));

}

form>label {
    display: block;
    margin-right: 60%;
    margin-top: 2%;
    font-weight: bold;
}

form>input {
    width: 75%;
    text-align: center;
    font-size: 20px;
    
}
#message{
    padding: 2% 0 0 0;
    text-align: center;
}

form>button {
    margin-top: 10%;
    font-size: 20px;
    padding: 2% 4%;
    border-radius: 5px;
}


form>button:hover {
    background-color: lightgreen;
    font-weight: bold;
}

/* About design start form here  */
.About {

    display: flex;
    flex-direction: row;
    background-image: url('https://thumbs.dreamstime.com/b/empty-wood-table-top-blur-night-pub-restaurant-background-selective-focus-using-mock-up-template-craft-display-your-146982816.jpg');
}

.About>div {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 50%;
    height: 100%;
    border-radius: 5%;
}

.div_first {
    padding: 3%;
    margin-left: 2%;
    background-image: linear-gradient(45deg, #ff8c00, #fff000, #98f050, #e7c137, transparent);
}

.About>.div_nd>img {
    margin-left: 26%;
    margin-top: 1%;
    height: 600px;
    border-radius: 50%;
    
    
}
/* rorate image clock wise */
.About>.div_nd>img:hover{
    transition: 0.5s ease;
    rotate:360deg;
}